indent.log
main.fdb_latexmk
main.aux
main.bbl
main.bbl-SAVE-ERROR
main.bcf
main.blg
main.fls
main.lof
main.log
main.lot
main.out
main.run.xml
main.toc
figures
citations.bib
compile.bat
frontmatter.sty